@import "../../../global.scss";
.about {
  padding: 120px 5vw;

  h2 {
    margin-top: 50px;
    font-size: 60px;
    padding: 0 10vw;
    text-align: right;
    margin-bottom: 50px;
  }

  .contact_title{
    margin-top: 50px;
    font-size: 60px;
    padding: 0 10vw;
    text-align: left;
    margin-bottom: 50px;
  }
}
