@import "../../../global.scss";

.nav_logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 60px;
}
.anim_hover {
  position: absolute;
  bottom: 10px;
  height: 7px;
  width: 100%;

  @include tablet {
    display: none;
  }

  &.home {
    .anim_hover_move{
      background-color: white;
    }
  }

  .anim_hover_move {
    width: 7px;
    height: 100%;
    background-color: $colorTitle;
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
    opacity: 1;
    position: absolute;
  }
}

.nav_links {
  position: relative;
  width: 70%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;

  &.home_nav {
    a {
      color: white;
    }
  }

  a {
    color: $colorNavText;
    text-decoration: none;
    position: relative;
  }

  @include tablet {
    display: none;
  }
}
