@import "../../../../global.scss";

.payment_form {
  padding: 10px;
  
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    padding: 10px;
  }

  .error_message{
    color: red;
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
  }

  ul {
    width: 90%;

    padding: 5px;
    margin-bottom: 20px;
    margin-top: 20px;

    @include tablet {
      width: 100%;
      padding: 0;
    }

    li {
      border-bottom: 1px solid black;
      margin: 5px;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;

      @include tablet {
        margin: 5px 0;
        padding: 15px 0;
      }
    }
  }

  p {
    text-align: center;
  }

  .card_field {
    width: 90%;
    margin: 20px;

    @include tablet {
      width: 100%;
    }

    .btn_form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      
      @include tablet {
        justify-content: space-between;
      }
      @include mobile {
        flex-direction: column-reverse;
      }

      .checkout {
        background-color: $colorNavBg;
        position: relative;
        cursor: pointer;
        border: 1px solid $colorCategBg;
        outline: none;
        transition: background-color 1s;

        &.none {
          cursor: none;
          filter: blur(1px);
        }


        &:hover .s1 span {
          transform: translateY(-100%) rotateX(-90deg);
        }
        &:hover .s2 span {
          transform: translateY(0%) rotateX(0deg);
        }

        .span-container {
          padding: 10px 17px;
        }

        span {
          font-family: "Caladea", sans-serif;
          color: $colorCategBg;
          transition: 0.25s;
          will-change: transform;
          display: inline-block;
          font-size: 17px;
          letter-spacing: 5px;
          @include mobile {
            font-size: 20px;
          }
        }

        .s1 span {
          transform-origin: bottom;
        }

        .s2 span {
          transform-origin: top;
          transform: translateY(100%) rotateX(-90deg);
        }

        .s2 {
          position: absolute;

          width: 100%;
          top: 0;
        }
      }

      .back {
        background-color: transparent;
        padding: 5px 15px;
        outline: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 100%;
          margin-bottom: 10px;
        }

        span {
          transition: 0.2s all ease-in-out;
          color: red;
          opacity: 0;
          transform: translateX(-50%);
        }

        svg {
          transition: 0.2s transform ease-in-out;
        }

        &:hover svg {
          transform: translateX(-10px);
        }
        &:hover span {
          transform: translateX(-5px);
          opacity: 1;
        }
      }
    }
  }
}
