@import "../../../global.scss";
.header {
  width: 100vw;
  height: 90px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 500;
  background-color: transparent;
  transition: 0.5s ease-in-out all;

  &.change_color {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 250, 244, 0.9);
  }

  &.active {
    backdrop-filter: blur(0);
    background-color: transparent;
    width: 70vw;
    transform: translateX(30vw);
    margin-right: auto;
  }

  .hamburger {
    z-index: 1000;
    position: absolute;
    right: 5vw;
    width: 32px;
    height: 27px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    @include tablet {
      display: flex;
    }

    span {
      width: 100%;
      height: 3px;
      background-color: $colorNavText;
      transform-origin: left;
      transition: all 0.7s ease;
    }

    &.active {
      span {
        &:first-child {
          background-color: $colorCategBg;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: $colorCategBg;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
