@import "../../global.scss";
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 30px 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: rgb(248, 190, 183);

  /* Test  */
  height: 180px;
  background-color: $colorTextMain;
  font-size: 14px;

  .logo1 {
    position: absolute;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);
    width: 110px;

    @include mobile {
      width: 100px;
      left: 3vw;
    }
  }

  h3{
    color: white;
  }

  li{
    margin: 10px 0;
    color: white;

    a{
      color: white;
    }
  }

  .list-contact{
    margin-right: 100px;
   
  }


/*   .list-contact {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @include desktop {
      flex-direction: column;
    }
    @include mobile {
      width: 90%;
      align-items: flex-end;
    }

    h3{
      color: white ;
    }

    li {
      overflow-x: hidden;

      color: rgb(246, 136, 119);
      display: flex;
      align-items: center;

      

      color: $colorNavBg;

      @include mobile {
        font-size: 16px;
      }

      svg {
        stroke: rgb(246, 136, 119);
        

        stroke: $colorNavBg;
      }

      a {
        text-decoration: none;
        color: rgb(246, 136, 119);
        display: flex;
        align-items: center;
        position: relative;
        transition: 0.5s;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: -100%;
          height: 1px;
          width: 100%;
          background-color: rgb(246, 136, 119);
          transition: 0.5s;
        }

        &:hover::before {
          left: 0;
        }

       

        color: $colorNavBg;
      }
      .footer-contact {
        text-decoration: none;
        color: rgb(246, 136, 119);
   

        color: $colorNavBg;
        position: relative;
        transition: 0.5s;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: -100%;
          height: 1px;
          width: 100%;
          background-color: rgb(246, 136, 119);
          transition: 0.5s;
        }

        &:hover::before {
          left: 0;
        }
      }
    }
  } */
}
