@import "../../global.scss";
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  display: flex;
  align-items: baseline;
  justify-content: center;

  height: 180px;
  background-color: $colorTextMain;
  font-size: 14px;

  .logo1 {
    position: absolute;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);
    width: 110px;

    @include mobile {
      width: 100px;
      left: 3vw;
    }
  }

  h3 {
    color: $colorNavText;
  }

  li {
    margin: 10px 0;
    color: white;
    overflow: hidden;
    height: 30px;

    a {
      color: white;
      position: relative;
      text-decoration: none;
      width: fit-content;
      transition: 0.2s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        transform: translateX(-100%);
        width: 100%;
        height: 1px;
        background-color: white;
        z-index: 0;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        transform: translateX(-100%);
        width: 100%;
        height: 1px;
        background-color: $colorNavText;
        transition: 0.5s ease-in-out;
        z-index: 1;
      }
      &:hover::before {
        transform: translateX(0);
      }

      
    }
  }

  .list-contact {
    margin-right: 100px;

    .instagram_link {
      a {
        display: flex;
        align-items: center;
      }
    }
  }

  /*   .list-contact {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @include desktop {
      flex-direction: column;
    }
    @include mobile {
      width: 90%;
      align-items: flex-end;
    }

    h3{
      color: white ;
    }

    li {
      overflow-x: hidden;

      color: rgb(246, 136, 119);
      display: flex;
      align-items: center;

      

      color: $colorNavBg;

      @include mobile {
        font-size: 16px;
      }

      svg {
        stroke: rgb(246, 136, 119);
        

        stroke: $colorNavBg;
      }

      a {
        text-decoration: none;
        color: rgb(246, 136, 119);
        display: flex;
        align-items: center;
        position: relative;
        transition: 0.5s;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: -100%;
          height: 1px;
          width: 100%;
          background-color: rgb(246, 136, 119);
          transition: 0.5s;
        }

        &:hover::before {
          left: 0;
        }

       

        color: $colorNavBg;
      }
      .footer-contact {
        text-decoration: none;
        color: rgb(246, 136, 119);
   

        color: $colorNavBg;
        position: relative;
        transition: 0.5s;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: -100%;
          height: 1px;
          width: 100%;
          background-color: rgb(246, 136, 119);
          transition: 0.5s;
        }

        &:hover::before {
          left: 0;
        }
      }
    }
  } */
}
