@import "../../global.scss";
.showproduct {
  padding: 120px 5vw;

  .product_info {
    display: flex;
    
    height: calc(100vh - 120px);
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      height: auto;
      
    }

    .images{
      cursor: none;
      overflow-y: scroll;
      width: 50%;
      img{
        width: 100%;
      }
      @include tablet {
        width: 100%;
        overflow-y: visible;
        height: auto;
      }

      .cursor {
        background-color: white;
        width: 80px;
        height: 80px;
        font-size: 16px;
        border: 1px white solid;
        color: black;
        position: fixed;
        pointer-events: none;
        border-radius: 50%;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        mix-blend-mode: screen;
        
      }
    }

    .info{
      width: 50%;
      padding: 7vh 5vw;
      font-size: 1em;
      @include desktop {
        font-size: 0.8em;
      }
      @include tablet {
        width: 100%;
        height: auto;
        margin: 5vh 0 0 0;
        padding: 5vh 0 0 0;
        font-size: 0.9em;
        align-items: center;
      }

      h2{
        font-size: 60px;
        color: $colorTitle;
        margin-bottom: 5vh;
      }
    }
  }
}
