/* couleurs */

$colorTitle : rgba(222, 208, 242, 1); 


$colorTextMain : rgba(134, 90, 71, 1);
$colorNavText : rgb(253, 155, 138);
$colorFooterText: rgba(253, 155, 138, 1);
$colorCategBg : $colorTitle;
$colorInsideCatag : $colorFooterText;
$colorCategBgActive: colorFooterText;
$colorCategTextActive: $colorTitle;
$colorPointNav : rgba(145, 117, 255, 0.56);
$colorNavBg : rgb(255, 250, 244);
 /* $colorNavBg : rgb(32, 26, 26); */
$colorButtonProduitBg : rgba(255, 212, 189, 0.7);
$colorButtonProduitText: $colorNavText;


/* Font */

$mainFont : 'M PLUS 1', sans-serif;
$fontCateg: 'Inconsolata', monospace;
$fontTitle : 'Caladea', serif;



@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content
  }
};

@mixin tablet  {
  @media screen and (max-width: 770px) {
    @content
  }
};

@mixin mobile {
  @media screen and (max-width: 426px) {
    @content
  }
};