/* couleurs */

$colorTitle : rgba(134, 90, 71, 1); 
$colorTextMain : rgba(134, 90, 71, 1);
$colorNavText : rgb(253, 155, 138);
$colorCategBg : rgb(217, 220, 192);
$colorNavBg : rgb(255, 250, 244);


/* Font */

$mainFont : 'M PLUS 1', sans-serif;
$fontCateg: 'Inconsolata', monospace;
$fontTitle : 'Caladea', serif;


//Responsive

@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content
  }
};

@mixin tablet  {
  @media screen and (max-width: 770px) {
    @content
  }
};

@mixin mobile {
  @media screen and (max-width: 426px) {
    @content
  }
};