@import "../../global.scss";

.menuresponsive {
  width: 70vw;
  height: 100vh;
  background-color: $colorNavBg;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 400;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: 0.5s transform ease-in-out;
  display: none;

  @include tablet {
    display: flex;
  }

  &.active {
    transform: translateX(0);

    a {
      animation: apparition 1s forwards;
    }
  }

  a {
    text-decoration: none;
    color: $colorNavText;
    margin-top: 50px;
    position: relative;
    transition: 0.2s ease-in-out color;
    transform: translateY(200%);
    opacity: 0;

    @keyframes apparition {
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    &:hover {
      color: $colorTitle;
    }

    &::before {
      content: "";
      height: 5px;
      width: 5px;
      border-radius: 50%;
      position: absolute;
      background-color: $colorTitle;
      left: -10px;
      top: 50%;
      display: none;
    }

    &.active::before {
      display: block;
    }

    &.active {
      color: $colorTitle;
    }
  }
}
